<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<title>FibConnect</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link th:href="@{/css/sourcesanspro-font.css}" rel="stylesheet" type="text/css">
	<!-- Main Style Css -->
    <link th:href="@{/css/signup.css}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<main role="main" class="flex-shrink-0" id="left">
	<div class="container">
		<h1 class="mt-5"><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="facebook"></h1>
		<p class="lead">Facebook helps you connect and share<br> with the people in your life.</p>
	</div>
</main>

<div class="card">
	<div class="card-body">
		<form th:action="@{/login}" method="POST" th:object="${user}">
			<div class="form-group">
				<label for="exampleInputEmail1"></label>
				<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{email}" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1"></label>
				<input name="password" type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}" placeholder="Password">
			</div>
			<button type="submit" class="submitbtn">Login</button>
			<br><br>
			<div><a href="">Abi You Forgot Your Password? Oya Click Here</a></div>
			<hr>
			<div>
				<button type="button" data-toggle="modal" data-target="#exampleModal" class="signupBtn createAccountBtn">Create New Account</button>
			</div>
			<br><br>
		</form>
	</div>
</div>

<!-- Button trigger modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<form th:action="@{/signup}" method="post" th:object="${user}">
					<!-- Grid row -->
					<div class="form-row">

						<!-- Default input -->
						<div class="form-group col-md-6">
							<label for="inputEmail4"></label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="First Name"  th:field="*{firstName}" required>
						</div>

						<!-- Default input -->
						<div class="form-group col-md-6">
							<label for="inputPassword4"></label>
							<input type="text" class="form-control" id="inputPassword4" placeholder="Last Name"  th:field="*{lastName}" required>
						</div>
					</div>

					<!-- Grid row -->
					<!-- Default input -->
					<div class="form-group">
						<label for="inputAddress"></label>
						<input type="text" class="form-control" id="inputAddress" placeholder="Email Address" th:field="*{email}" required>
					</div>

					<!-- Default input -->
					<div class="form-group">
						<label for="inputAddress2"></label>
						<input type="password" class="form-control" id="inputAddress2" placeholder="Password" th:field="*{password}" required>
					</div>

					<!-- Grid row -->
					<label class="dob"> Date Of Birth</label>
					<div class="form-row">
						<label for="namebox"></label><input type="date" id="namebox"  th:field="*{dateOfBirth}">
					</div>

					<label class="gender">Gender</label>
					<div class="form-row">
						<!-- Grid row -->
						<div id="gender">
							<span class="_5k_3" data-type="radio" data-name="gender" ></span>

							<span class="_5k_2 _5dba"><label class="_58mt">Male</label>
                                <label><input type="radio" class="_8esa" th:field="*{gender}" value="Male"></label>
                            </span>

							<span class="_5k_3" data-type="radio" data-name="gender"></span>

							<span class="_5k_2 _5dba"><label class="_58mt">Female</label>
                                <label><input type="radio" class="_8esa" th:field="*{gender}" value="Female"></label>
                            </span><br>

							<span id="terms">By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy.
                                You may receive SMS notifications from us and can opt out at any time.</span><br>
							<div>
								<button type="submit" class="signup btn btn-primary btn-md">Sign Up</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>